@keyframes sidebarAnimationOpen {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}

@keyframes sidebarAnimationClose {
    from {
      width: 100%;
    }
    to {
      width: 0%;
    }
}