@font-face {
    font-family: 'DW1';
    src: url('../assets/fonts/dw-font.ttf');
}

:root {
    font-family: DW1;
    font-weight: 400;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
  
* {
    margin: 0;
    padding: 0;
    /* hide scrollbar for Firefox */
    scrollbar-width: thin;
    /* hide scrollbar for Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $dark;
        border-radius: 3px;
    }
    &::-webkit-scrollbar-track {
        background-color: #eee;
    }
    &::-webkit-scrollbar:horizontal {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb:horizontal {
        background-color: $dark;
        border-radius: 3px;
    }
    &::-webkit-scrollbar-track:horizontal {
        background-color: #eee;
    }
}

menu, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    @include button-reset;
}
  
/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    html {
        color: $dark;
        background-color: $white;
    }
}

/* Fallback for browsers that don't support color-scheme */
@supports not (color-scheme: dark) {
    html {
        color: $white;
        background-color: $dark;
    }
}