$dark: #242424;
$light: #ededed;
$white: #ffffff;
$red: #ff1900;
$brown: #c77400;
$blue: #0000ce;

$none: 0;
$sm: 0.5rem;
$md: 1rem;
$lg: 1.5rem;


$colors : (
  "dark": $dark,
  "light": $light,
  "white": $white,
  "red": $red,
  "brown": $brown,
  "blue": $blue
);

$spacers : (
  "none": $none,
  "sm": $sm,
  "md": $md,
  "lg": $lg,
  "auto": auto,
);

$text-position: (
  "left": left,
  "right": right,
  "center": center,
)